:root{
    --mainAccent: #C1121F;
    --navyBg1:#060F16;
    --navyBg2: #060E14;
    --buttonbg:#101925;
    --glow: 0 4px 8px 0 rgba(219, 141, 147, 0.40);
    --glow2: 0 4px 12px 0 rgba(219, 141, 147, 0.6);
    --grey:#CBCBCD;
    --accent2:#F03E4C;
    --gradient1: radial-gradient(533.11% 170.22% at 59.89% -53.94%, #838AC7 17.21%, rgba(15, 19, 39, 0.80) 49.57%, #C1121F 81.26%);
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Chakra Petch";
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    background: rgba(8, 16, 22, 0.20);
    backdrop-filter: blur(4px);
    top: 0;
    z-index: 999;
    width: 100%;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 12px 0 12px 72px;
    box-sizing: border-box;
}
.logo_header{
    width: 83px;
    height: auto;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    list-style: none;
}
nav ul li {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
nav ul li a{
    padding: 0 22px;
}
nav ul li img{
    width: 9px;
    height: 31px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 0.5;
}
body{
    overflow-x: hidden;
    width: 100vw;
    background: var(--navyBg1);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: var(--glow);
background: var(--navyBg2);
}
::-webkit-scrollbar-thumb {
  background: var(--gradient1);
}
video{
    pointer-events: none;
}
.scene1{
    width:100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.overlay1{
    width: 110%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
    border-bottom: 1px solid rgba(73, 89, 236, 0.00);
}
.hero_content{
    display: flex;
    width: 700px;
    height: 479px;
    padding: 131px 0 73px 0;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: relative;
    z-index: 2;
}
.logo{
    width: 505.513px;
height: 129.913px;
}
.heroillustration{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
h1{
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 98%;
}
h2{
    font-size: 36px;
    text-shadow: 0 4px 9.4px rgba(219, 141, 147, 0.40);
    font-style: italic;
    font-weight: 700;
}
h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 98%;
}
.red_text{
    color: var(--accent2);

}
h6{
    font-size: 16px;
     color: var(--grey);
     font-weight: 400;
}
p{
    color: var(--grey);
    font-size: 24px;
    font-weight: 400;
}
.button-wrapper {
    width: fit-content;
    padding: 0 7px 0 9px;
    border-radius: 34px;
    background: var(--gradient1);
}
button{
    border: none;
    outline: none;
}
.button1 {
    display: flex;
    width: 217px;
    padding: 10px;
    font-size: 24px;
    justify-content: center;
    border-radius: 34px;
    background: var(--buttonbg);
    box-shadow: var(--glow);
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0;
}
.button1:hover {
    background: var(--navyBg2);
    box-shadow: var(--glow2);
    letter-spacing: 3px;
}
.sectionsFlex{
    display: flex;
    align-items: center;
    gap: 54px;
    width: 100%;
    justify-content: center;
    margin: 108px auto 0 auto;
    max-width: 1280px;
}
.container1{
    width: 620px;
    height: 388px;
    position: relative;
    display: flex;
    padding: 48px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
    background-image: url(public/images/container1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.container1 img{
    position: absolute;
    right: 40px;
    top: 36px;
}
.icon1{
    height: 60px;
    width: auto;
}
.sheildContainer{
    width: 472px;
    height: 472px;
    max-width: 472px;
    max-height: 472px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheildContainer .sheild{
    width: 357px;
    height: 357px;
}
.sheildBg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    z-index: -1;
}
.rotateanim{
    animation: rotate 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.rotateanim2{
    animation: rotate2 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.rotateanim3{
    animation: rotate2 5s linear infinite;
}
.scroll_animate{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 35%;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate2{
    from {
        transform: rotate(360deg);
        
    }
    to {
        transform: rotate(0deg);
    }
}
.charsSection{
    width: 1140px;
    height: 547px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(public/images/largeSecCont.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text_align_center{
    text-align: center;
}
.illus1{
    width: 300px;
    height: auto;
}
.charsFlex{
    display: flex;
    align-items: center;
    gap: 95px;
    margin-top: 22px;
}
.charImg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    filter: saturate(0) drop-shadow(0 4px 9px rgba(219, 141, 147, 0.05));
    
}
.charCard{
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    width: 151px;
    gap: 12px;
    height: 257px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.charCard h3{
    text-wrap: wrap;
    text-align: center;
}
.charCard .icon {
    opacity: 0;
    width: 46px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.charCard:hover .icon {
    opacity: 1;
    max-height: 80px;
}
.charCard:hover .charImg {
    filter: saturate(1) drop-shadow(0 4px 9px rgba(219, 141, 147, 0.10));
}
.container2{
    width: 520px;
height: 388px;
background-image: url(public/images/container2.svg);
}
.sectionsFlex2{
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
}
.moveIn{
    position: relative;
    transform: translateY(100px);
    animation: move-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes move-in{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.scroll_animate2{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 30%;
    animation-range: cover 30% cover 35%;
}
.movielineup{
    display: flex;
    width: 688px;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.movielineup img{
   height: 207px;
   width: auto;
   border: 1px solid var(--mainAccent);
}
.movieCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 137px;
}
.inactive_movie{
    opacity: 0.8;
    filter: contrast(1);
}
.movieCard h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    text-wrap: nowrap;
}
.movielineup span{
    height:207px ;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
}
.movielineup span div{
    height: 1px;
    background: var(--mainAccent);
    width: 137px;
}
footer{
    background: var(--navyBg2);
    width: 100%;
}
.footer_container{
    max-width: 1290px;
    align-self: center;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footerItem{
    margin-top: 48px;
    width: 230px;
    gap: 23px;
    align-items: flex-start;
}
.footerItem h2{
    text-transform: none;
    font-weight: 500;
line-height: 128%;
font-style: normal;
}
.footerItem h3{
    text-transform: none;
    font-weight: 400;
line-height: 128%;
margin-top: 23px;
}
.footer_sheildCont{
    width: 741px;
    height: 334px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
}
.footer_sheildCont img{
    width: 100%;
    height: auto;
}
.socials{
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-top: 12px;
}
.socials a img{
    width: 32px;
    height: 32px;
}
footer .logo{
    width: 136px;
    height: 55px;
    margin-top: 42px;
    align-self: flex-end;
}
.footerItem2{
    align-items: flex-end;
    justify-items: flex-end;
    text-align: right;
}
.footerItem2 h2{
    font-style: normal;
    
}
.heroContent2{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    align-self: flex-start;
    justify-self: flex-start;
}
.characterImg{
    height: 588px;
    width: auto;
}
.charDetails{
    display: flex;
width: 693px;
flex-direction: column;
align-items: flex-start;
gap: 22px;
}