:root{
    --mainAccent: #C1121F;
    --navyBg1:#060F16;
    --navyBg2: #060E14;
    --buttonbg:#101925;
    --glow: 0 4px 8px 0 rgba(219, 141, 147, 0.40);
    --glow2: 0 4px 12px 0 rgba(219, 141, 147, 0.6);
    --grey:#CBCBCD;
    --accent2:#F03E4C;
    --gradient1: radial-gradient(533.11% 170.22% at 59.89% -53.94%, #838AC7 17.21%, rgba(15, 19, 39, 0.80) 49.57%, #C1121F 81.26%);
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainAccent);
    font-family: "Chakra Petch";
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
body{
    overflow-x: hidden;
    width: 100vw;
}
.scene1{
    width:100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.overlay1{
    width: 110%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
    border-bottom: 1px solid rgba(73, 89, 236, 0.00);
}
.hero_content{
    display: flex;
    width: 700px;
    height: 479px;
    padding: 131px 0 73px 0;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: relative;
    z-index: 2;
}
.logo{
    width: 505.513px;
height: 129.913px;
}
.heroillustration{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
h1{
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 98%;
}
h2{
    font-size: 36px;
    text-shadow: 0 4px 9.4px rgba(219, 141, 147, 0.40);
    font-style: italic;
    font-weight: 700;
}
h3{
    font-size: 24px;
    color: var(--accent2);
    font-weight: 700;
    line-height: 98%;
}
h6{
    font-size: 16px;
     color: var(--grey);
}
p{
    color: var(--grey);
    font-size: 24px;
    font-weight: 400;
}
.button-wrapper {
    width: fit-content;
    padding: 0 7px 0 9px;
    border-radius: 34px;
    background: var(--gradient1);
}
button{
    border: none;
    outline: none;

}
.button1 {
    display: flex;
    width: 217px;
    padding: 10px;
    font-size: 24px;
    justify-content: center;
    border-radius: 34px;
    background: var(--buttonbg);
    box-shadow: var(--glow);
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 700;
}
.button1:hover {
    background: var(--navyBg2);
    box-shadow: var(--glow2);
}