*{
    margin: 0;
    padding: 0;
    color: var(--mainaccent);
    font-family: Alegreya Sans;
}
body{
    overflow-x: hidden;
}
.scene1{
    width:100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.overlay1{
    width: 110%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
    border-bottom: 1px solid rgba(73, 89, 236, 0.00);
}
.hero_content{
    display: flex;
    width: 700px;
    height: 479px;
    padding: 131px 0 73px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.logo{
    width: 505.513px;
height: 129.913px;
}
.heroillustration{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}