:root{
    --mainAccent: #C1121F;
    --navyBg1:#060F16;
    --navyBg2: #060E14;
    --buttonbg:#101925;
    --glow: 0 4px 8px 0 rgba(219, 141, 147, 0.40);
    --glow2: 0 4px 12px 0 rgba(219, 141, 147, 0.6);
    --grey:#CBCBCD;
    --accent2:#F03E4C;
    --gradient1: radial-gradient(533.11% 170.22% at 59.89% -53.94%, #838AC7 17.21%, rgba(15, 19, 39, 0.80) 49.57%, #C1121F 81.26%);
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Chakra Petch";
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    background: rgba(8, 16, 22, 0.20);
    backdrop-filter: blur(4px);
    top: 0;
    z-index: 999;
    width: 100%;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 12px 0 12px 72px;
    box-sizing: border-box;
}
.logo_header{
    width: 83px;
    height: auto;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    list-style: none;
}
nav ul li {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
nav ul li a{
    padding: 0 22px;
}
nav ul li img{
    width: 9px;
    height: 31px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 0.5;
}
body{
    overflow-x: hidden;
    width: 100vw;
    background: var(--navyBg1);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: var(--glow);
background: var(--navyBg2);
}
::-webkit-scrollbar-thumb {
  background: var(--gradient1);
}
video{
    pointer-events: none;
}
.scene1{
    width:100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.overlay1{
    width: 110%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
    border-bottom: 1px solid rgba(73, 89, 236, 0.00);
}
.hero_content{
    display: flex;
    width: 700px;
    height: 479px;
    padding: 131px 0 73px 0;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: relative;
    z-index: 2;
}
.logo{
    width: 505.513px;
height: 129.913px;
}
.heroillustration{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
h1{
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 98%;
}
h2{
    font-size: 36px;
    text-shadow: 0 4px 9.4px rgba(219, 141, 147, 0.40);
    font-style: italic;
    font-weight: 700;
}
h3{
    font-size: 24px;
    color: var(--accent2);
    font-weight: 700;
    line-height: 98%;
}
h6{
    font-size: 16px;
     color: var(--grey);
}
p{
    color: var(--grey);
    font-size: 24px;
    font-weight: 400;
}
.button-wrapper {
    width: fit-content;
    padding: 0 7px 0 9px;
    border-radius: 34px;
    background: var(--gradient1);
}
button{
    border: none;
    outline: none;
}
.button1 {
    display: flex;
    width: 217px;
    padding: 10px;
    font-size: 24px;
    justify-content: center;
    border-radius: 34px;
    background: var(--buttonbg);
    box-shadow: var(--glow);
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0;
}
.button1:hover {
    background: var(--navyBg2);
    box-shadow: var(--glow2);
    letter-spacing: 3px;
}
.sectionsFlex{
    display: flex;
    align-items: center;
    gap: 54px;
    width: 100%;
    justify-content: space-between;
    margin: 108px auto 0 auto;
    max-width: 1280px;
}
.container1{
    width: 620px;
    height: 388px;
    position: relative;
    display: flex;
    padding: 48px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
    background-image: url(public/images/container1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.container1 img{
    position: absolute;
    right: 40px;
    top: 36px;
}
.icon1{
    height: 60px;
    width: auto;
}
.sheildContainer{
    width: 472px;
    height: 472px;
    max-width: 472px;
    max-height: 472px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheildBg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    z-index: -1;
}
.rotateanim{
    animation: rotate 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.scroll_animate{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 10%;
    animation-range: cover 10% cover 35%;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
